$primary: #fff;
$secondary: #9d1010;
$secondary-text: #ddd;
$accent: #333;
$c: center;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.l-header {
  background-color: $accent;
  width: 100%;
}

.header-container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  nav {
    color: $secondary-text;
    justify-self: end;
  }
}

.brand-name {
  color: $primary;
}

.l-video-banner {
  height: 90vh;
  text-align: $c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
}

.video-banner {
  width: 70%;
  margin: 0 auto;
}

.main-heading {
  font-size: 5em;
  color: $primary;
}

.video-banner p {
  font-size: 1.5em;
  color: $secondary-text;
}
